[package]
name = "lizzy"
version = "0.1.4"
edition = "2021"

[profile.release]
strip = true # Automatically strip symbols from the binary.
opt-level = "z"  # Optimize for size.
lto = "fat" # This can remove dead code and often times reduces binary size.
codegen-units = 1 # Allow for maximum size reduction optimizations, but longer compile time.
panic = "abort"

[dependencies]
dbus = "0.9"
pico-args = "0.5"